body {
	font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
	font-size: 9pt;
	width:250px;
	height:200px;
	margin: 0;
	padding: 0;
}

.warning {
  font-size: 10px;
  display: block;
  color: #333;
}

#error {
	color: red;
}

p {
    margin: 0 0 1em 0;
}
