/*
	Copyright 2007 Benjamin Hollis
	See license.txt for additional license information.
*/
body { 
	font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
	font-size: 9pt;
	width:130px;
	padding: 0;
	margin: 0;
}

table {
	padding: 0;
	margin: 0;
	width: 116px;
	table-layout:fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

th {
	border: 0;
	padding: 0;
	margin: 0;
}

td {
	font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
	font-size: 8pt;
	padding: 0;
	margin: 0;
	color: white;
}

td.processName {
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	width:73px;
}
	
td.percentage {
	text-align: right;
	width: 43px;
}

td.memUsage {
	text-align: right;
	width: 43px;
}

.content {
	position: absolute;
	left: 7px;
	top: 10px;
	z-index: 500;
}

#processList {
	position:relative;
	/*padding: 10px 7px 11px 7px;*/
}

#debug {
	z-index: 1000;
}
